<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codemagic.LabSys.dao.SummaryMapper" >
  <resultMap id="BaseResultMap" type="codemagic.LabSys.model.Summary" >
    <id column="sum_id" property="sumId" jdbcType="INTEGER" />
    <result column="sum_title" property="sumTitle" jdbcType="VARCHAR" />
    <result column="sum_publiser" property="sumPubliser" jdbcType="INTEGER" />
    <result column="sum_details" property="sumDetails" jdbcType="VARCHAR" />
    <result column="sum_date" property="sumDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sum_id, sum_title, sum_publiser, sum_details, sum_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from summary
    where sum_id = #{sumId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from summary
    where sum_id = #{sumId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="codemagic.LabSys.model.Summary" >
    insert into summary (sum_title, sum_publiser, 
      sum_details, sum_date)
    values (#{sumTitle,jdbcType=VARCHAR}, #{sumPubliser,jdbcType=INTEGER}, 
      #{sumDetails,jdbcType=VARCHAR}, #{sumDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="codemagic.LabSys.model.Summary" >
    insert into summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sumId != null" >
        sum_id,
      </if>
      <if test="sumTitle != null" >
        sum_title,
      </if>
      <if test="sumPubliser != null" >
        sum_publiser,
      </if>
      <if test="sumDetails != null" >
        sum_details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sumId != null" >
        #{sumId,jdbcType=INTEGER},
      </if>
      <if test="sumTitle != null" >
        #{sumTitle,jdbcType=VARCHAR},
      </if>
      <if test="sumPubliser != null" >
        #{sumPubliser,jdbcType=INTEGER},
      </if>
      <if test="sumDetails != null" >
        #{sumDetails,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="codemagic.LabSys.model.Summary" >
    update summary
    <set >
      <if test="sumTitle != null" >
        sum_title = #{sumTitle,jdbcType=VARCHAR},
      </if>
      <if test="sumPubliser != null" >
        sum_publiser = #{sumPubliser,jdbcType=INTEGER},
      </if>
      <if test="sumDetails != null" >
        sum_details = #{sumDetails,jdbcType=VARCHAR},
      </if>
    </set>
    where sum_id = #{sumId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="codemagic.LabSys.model.Summary" >
    update summary
    set sum_title = #{sumTitle,jdbcType=VARCHAR},
      sum_details = #{sumDetails,jdbcType=VARCHAR},
      sum_date = #{sumDate,jdbcType=VARCHAR}
    where sum_id = #{sumId,jdbcType=INTEGER}
  </update>
  <select id="selectByPublisherID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from summary
    where sum_publiser = #{sumPubliser,jdbcType=INTEGER}
    ORDER BY sum_id DESC
  </select>
</mapper>